if SHIELD_WOLFHEAD_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "wolfhead_split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_WOLFHEAD_SPLIT_LEFT

if SHIELD_WOLFHEAD_SPLIT_LEFT || SHIELD_WOLFHEAD_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_WOLFHEAD_SPLIT_LEFT || SHIELD_WOLFHEAD_SPLIT_RIGHT
